<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body background="/static/img/admin.jpg">
<h1 align="center"
style="color:cornflowerblue ;
font-size:50px">学生信息管理系统</h1>
<table class="table" style="width: 600px;margin: 100px auto">
    <thead>
    <tr>
        <th scope="col">姓名</th>
        <th scope="col">语文</th>
        <th scope="col">数学</th>
        <th scope="col">英语</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>

    {% for stu in students %}

        <tr>
            <th>{{ stu.name }}</th>
            <td>{{ stu.chinese }}</td>
            <td>{{ stu.math }}</td>
            <td>{{ stu.English }}</td>
            <td><a href="/delete?name={{ stu.name }}">删除</a> <a href="/change?name={{ stu.name }}">修改</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<div class="container" style="width: 600px;margin: 10px auto">
    <div class="row">
        <div class="col-4">
            <a href="/add">新增学员</a>
        </div>
    </div>
</div>

</body>
</html>